html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: sticky;
  background-color: rgb(255, 255, 116);
  top: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
li {
  float: left;
}
a {
  padding: 20px;
  width: 100px;
  display: block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}
img {
  height: 400px;
  width: 400px;
  border: 1.5mm solid black;
  border-radius: 300px;
  justify-content: center;
}
#pg1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 1000px;
  width: 100%;
}
h1 {
  margin: 25px;
  margin-top: 100px;
  padding: 20px;
  background: white;
  border: solid black;
}

#pg2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 1000px;
  width: 100%;
}
.skills {
}
.skillsbox {
  display: flex;
  flex-direction: row;
  margin: 25px;
  padding: 20px;
  background: white;
  border: solid black;
  height: 200px;
  width: 1100px;
}
.pg2sec2 {
  display: flex;
  flex-direction: row;
}
.aboutme {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.aboutmebox {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
  margin: 25px;
  padding: 20px;
  background: white;
  border: solid black;
  height: 200px;
  width: 500px;
}
.resume {
  display: flex;
  flex-direction: column;
}
.resumebox {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 20px;
  background: white;
  border: solid black;
  height: 200px;
  width: 500px;
}

#pg3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  height: 1000px;
  width: 100%;
}
.pj1 {
  display: flex;
}
.pjbox1 {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 20px;
  background: white;
  border: solid black;
  height: 200px;
  width: 500px;
}
.pj2 {
  display: flex;
}
.pjbox2 {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 20px;
  background: white;
  border: solid black;
  height: 200px;
  width: 500px;
}
.pj3 {
  display: flex;
}
.pjbox3 {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 20px;
  background: white;
  border: solid black;
  height: 200px;
  width: 500px;
}
.pj4 {
  display: flex;
}
.pjbox4 {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 20px;
  background: white;
  border: solid black;
  height: 200px;
  width: 500px;
}

#pg4 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: 1000px;
  width: 100%;
}
.cmtitle {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
}
.contactform {
  display: flex;
  flex-direction: column;
}
.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: larger;
  padding: 5px;
}
#name {
  display: flex;
  width: 200%;
  border: solid black;
}
#email {
  display: flex;
  width: 200%;
  border: solid black;
}
#business {
  display: flex;
  width: 200%;
  border: solid black;
}
#description {
  display: flex;
  width: 200%;
  border: solid black;
  padding-bottom: 200px;
}
#submitbtn {
  display: flex;
  flex-direction: row;
  align-self: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: larger;
  background-color: white;
  border: solid black;
  margin-top: 20px;
}
